---

---

<section
  class="min-h-dvh w-full gap-5 justify-center items-center bg-blend-multiply flex bg-[url(../assets/background.jpg)] bg-center bg-no-repeat bg-cover flex-col"
>
  <div
    class="rounded-2xl p-8 sm:p-12 shadow-2xl items-center flex flex-col gap-5"
  >
    <div class="flex flex-col gap-3 items-center">
      <div class="flex flex-col">
        <h1
          class="text-[40px] sm:text-[80px] main-title text-center text-gray-200"
        >
          Eduardo Lamas Suárez
        </h1>
        <h5
          class="text-[30px] sm:text-[50px] text-center main-subtitle text-gray-200"
        >
          Full Stack Engineer
        </h5>
      </div>
      <div
        class="flex text-lg sm:text-xl max-w-4xl bg-gray-700/60 px-8 py-1 sm:py-4 rounded-lg gap-5 sm:gap-10"
      >
        <a
          href="#myExperience"
          class="text-gray-100 font-medium cursor-pointer hover:animate-tilt flex items-center"
        >
          <span class="hidden lg:block"> My Experience</span>
          <span class="block lg:hidden"> Career</span>
        </a>
        <hr class="h-full border border-gray-900" />
        <a
          href="#myTechStack"
          class="text-gray-100 font-medium cursor-pointer hover:animate-tilt flex items-center"
        >
          <span class="hidden lg:block"> My Tech Stack</span>
          <span class="block lg:hidden"> Stack</span>
        </a>
        <hr class="h-full border border-gray-900" />
        <a
          href="#myProjects"
          class="text-gray-100 font-medium cursor-pointer hover:animate-tilt flex items-center"
        >
          <span class="hidden lg:block"> My Projects</span>
          <span class="block lg:hidden"> Creations</span>
        </a>

        <hr class="h-full border border-gray-900" />
        <a
          href="#aboutMe"
          class="text-gray-100 font-medium cursor-pointer hover:animate-tilt flex items-center"
        >
          <span class="hidden lg:block"> About Me</span>
          <span class="block lg:hidden"> Bio</span>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .main-title {
    font-family: "Aprilea";
  }

  .main-subtitle {
    font-family: "Champagne";
  }
</style>
