* {
	box-sizing: content-box;
}
main {
	margin: 10%;
}

.projectColumn{

	border: 1px solid black;	
	box-shadow: 7px 7px;
	margin: 1%;
}
.projectColumn:hover{

	background-color: lightgrey;
}


#cover-container{
	height: 100vh;
	
}
#innerCover{
	text-align:center;	
}

