@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
    font-family: "Aprilea";
    src: url("/fonts/Aprilea/Aprilea.woff") format("woff");
}

@font-face {
    font-family: "Champagne";
    src: url("/fonts/Champagne/Champagne_Limousines.woff") format("woff");
}

.section-title {
    font-family: "Champagne";
}

html {
    scroll-behavior: smooth;
}
