@import "tailwindcss";

@font-face {
  font-family: "Aprilea";
  src: url("fonts/Aprilea/Aprilea.woff");
}

@font-face {
  font-family: "Champagne";
  src: url("fonts/Champagne/Champagne_Limousines.woff");
}

.section-title {
  font-family: "Champagne";
}
