---
import Experience from "../components/experience/Experience.astro";
import MainMenu from "../components/MainMenu.astro";
import Technologies from "../components/technologies/Technologies.astro";
import MyProjects from "../components/projects/MyProjects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-4">
    <MainMenu />
    <Experience />
    <Technologies />
    <MyProjects />
  </div>
</Layout>
