---

---

<section
  class="min-h-dvh w-full justify-center items-center flex bg-[url(../assets/cover-page.JPG)] bg-center bg-no-repeat bg-cover"
>
  <div
    class="w-fit h-fit bg-white opacity-70 p-7 rounded-md gap-3 flex flex-col"
  >
    <di class="flex gap-1 flex-col">
      <h1 class="text-4xl main-title text-center">Eduardo Lamas Suárez</h1>
      <h5 class="text-2xl text-center main-subtitle">Software Engineer</h5></di
    >
    <div class="flex">
      <div class="w-full text-center">
        <a href="#myProjects">
          <!-- TODO: Set awersome icons component -->
          <i class="fas fa-angle-double-down"></i>
          My Projects
          <i class="fas fa-angle-double-down"></i>
        </a>
      </div>
      <div class="w-full text-center">
        <a href="#PersonalBackground">
          <!-- TODO: Set awersome icons component -->
          <i class="fas fa-angle-double-down"></i>
          Personal Background
          <i class="fas fa-angle-double-down"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .main-title {
    font-family: "Aprilea";
  }

  .main-subtitle {
    font-family: "Champagne";
  }
</style>
