---

---

<section id="myProjects" class="GeneralSections">
  <h2>My projects</h2>
  <section class="row">
    <h2></h2>
    <section id="Repository1" class="col projectColumn rounded border-success">
      <h4>Greenhouse gas calculation tool</h4>
      <p>
        The GHG tool is part of the ECCO one stop shop project developed by the
        CIT university, with the aim of delevop a responsive online calculator
        of the CO2 saved by some renewable energies.
      </p>
    </section>
    <section id="Repository2" class="col projectColumn rounded border-success">
      <h4>ECCO database administrator tool</h4>
      <p>
        This tool is part of the ECCO One Stop Shop, which its objective is to
        make the administration of the database easy for the administrator.
      </p>
    </section>

    <section id="Repository3" class="col projectColumn rounded border-success">
      <h4>A* visualization</h4>
      <p>
        A visualization of the well known A* algorith used for path finding.
      </p>
    </section>
    <section id="Repository4" class="col projectColumn rounded border-success">
      <h4>Machine Learning algorithms</h4>
      <p>Three different algorithm implementations</p>
      <ul>
        <li>Genetic algorithm</li>
        <li>Image classification using kernels</li>
        <li>Linear regression algorithm</li>
      </ul>
    </section>
    <section class="w-100"></section>
    <section id="Repository5" class="col projectColumn rounded border-success">
      <h4>GeoFauna</h4>
      <p>
        This is an android application that you can use for taking environmental
        data when sightseeing wild animals during transects. This application
        has the possibility of connecting by BLE to a small device built around
        the ESP32 microcontroller, in order to read more accurate data from
        several sensors.
      </p>
      <p>
        This app was developed as my final degree project and is currently
        available in the Google Play Store.
      </p>
    </section>
    <section id="Repository6" class="col projectColumn rounded border-success">
      <h4>Google Hascode 2018 Solution</h4>
      <p>
        A solution done in my free time of the Google Hascode Hackatlon of 2018.
        The solution is done in python in the scripts:
      </p>
      <ul>
        <li>Classes.py</li>
        <li>Main_my_solution.py</li>
        <li>FileManager.py</li>
      </ul>
    </section>
  </section>
</section>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #container {
    font-family:
      Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
      sans-serif;
    height: 100%;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }

  #links {
    display: flex;
    gap: 16px;
  }

  #links a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #111827;
    text-decoration: none;
    transition: color 0.2s;
  }

  #links a:hover {
    color: rgb(78, 80, 86);
  }

  #links a svg {
    height: 1em;
    margin-left: 8px;
  }

  #links a.button {
    color: white;
    background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.12),
      inset 0 -2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }

  #links a.button:hover {
    color: rgb(230, 230, 230);
    box-shadow: none;
  }

  pre {
    font-family:
      ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
      "DejaVu Sans Mono", monospace;
    font-weight: normal;
    background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }

  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  code {
    display: inline-block;
    background:
      linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
      linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 8px;
  }

  .box {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid white;
  }

  #news {
    position: absolute;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    text-decoration: none;
    transition: background 0.2s;
    backdrop-filter: blur(50px);
  }

  #news:hover {
    background: rgba(255, 255, 255, 0.55);
  }

  @media screen and (max-height: 368px) {
    #news {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }

    #hero {
      display: block;
      padding-top: 10%;
    }

    #links {
      flex-wrap: wrap;
    }

    #links a.button {
      padding: 14px 18px;
    }

    #news {
      right: 16px;
      left: 16px;
      bottom: 2.5rem;
      max-width: 100%;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
