---
import { Image } from "astro:assets";

interface Props {
  link: string;
  icon: any;
  text: string;
}

const { icon, link, text } = Astro.props;
---

<a href={link} target="_blank">
  <Image
    src={icon}
    title={text}
    class="w-14 h-14 md:w-20 md:h-20 text-white"
    alt={text}
  />
</a>
